

.top-bar {
  position: sticky;
  top: 0;
  height: 10rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 2rem;
  background-color: white;
  border-bottom: solid 1px lightgrey;
  margin-bottom: 2rem;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

.web-view {
  display: grid;
  grid-template-columns: 1rf, 1rf;
  grid-template-rows: 11rem auto;
  grid-template-areas:
    "title title"
    "task-list add-task-field"
  ;
  width: 100%;
  min-width: 640px;
  height: 100vh;
  gap: 18px;
  padding: 2rem 0 2rem 0;
}

.header-app {
  grid-area: title;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 3rem;
  top: 0;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 2rem;
  background-color: white;
  border-bottom: solid 1px lightgrey;
  margin-bottom: 2rem;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

.task-list {
  grid-area: task-list;
  overflow-y: auto;
}

.add-task-field {
  grid-area: add-task-field;

}
