.mr-1 {
  margin-right: 1rem;
} 
.list-items {
  display: flex;
  justify-content: space-between;
  align-items: center ;
  flex-wrap: nowrap;
  flex-direction: row;
  width: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
}

.line-through {
  text-decoration: line-through;
  color: lightgrey
}

.button-done {
  background-color: #cda6e5;
  border-color: #cda6e5;
}

.static-right {
  position:fixed;
  right: 0;
}

.top-bar {
  position: sticky;
  top: 0;
  height: 10rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 2rem;
  background-color: white;
  border-bottom: solid 1px lightgrey;
  margin-bottom: 2rem;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

.warning-pill {
  display: inline;
  background-color: #9b4dca;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  height: 3rem;
  text-transform: uppercase;
  color: white;
  border-radius: 25px;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  margin-left: 3rem;
  margin-right: 3rem;
}